pipeline/Etljobpipeline.json
{
	"name": "Etljobpipeline",
	"properties": {
		"activities": [
			{
				"name": "Read Csv and Push to Azure DB",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"value": ""
							},
							{
								"value": ""
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Color_Tool",
									"type": "String"
								},
								"sink": {
									"name": "COLOR_TOOL_NAME",
									"type": "varchar",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ReadInCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "COLOR_TOOLDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "LookupCOLOR_TOOLDS",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Table_COLORTOOLDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookupfetch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "declare @sql nvarchar(1000)\r\n\r\nselect @sql = entity_id from [dbo].[USER_PROFILE] where user_name = 'pfadmin'\r\nselect @sql",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableProfile",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Entity_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookupfetch ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Entity_ID",
					"value": {
						"value": "@activity('Lookupfetch ').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Entity_ID": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-30T14:00:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}