pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UserProfileLookUP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "dataflow1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "declare @sql nvarchar(1000)\n\nselect @sql = entity_id from [dbo].[USER_PROFILE] where user_name = 'pfadmin'\nselect @sql",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableProfile",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EntityID",
				"description": "@activity('UserProfileLookUP').output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "UserProfileLookUP",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Entity_ID",
					"value": {
						"value": "@activity('UserProfileLookUP').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Entity_ID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}