pipeline/pipeline_Color_Coordinate.json
{
	"name": "pipeline_Color_Coordinate",
	"properties": {
		"activities": [
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow_Color_Coordinate",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "dataflow1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('dataflow1').output.runStatus",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Azure Function2",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "create",
								"body": {
									"name": "test",
									"salary": "123",
									"age": "23",
									"id": 25
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Azure Function2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "PANEL_COLOR_COORDINATE_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PANEL_COLOR_COORDINATE_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PANEL_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PANEL_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "GEOMETRY",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "GEOMETRY",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SPARKLE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "SPARKLE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MEASUREMENT_SCHEME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "MEASUREMENT_SCHEME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "L",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "L",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "A",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "A",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "B",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "C",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "C",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ILLUMINANT_OBSERVE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ILLUMINANT_OBSERVE",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTableCOLOR_COORDINATE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedTextCOLORCOORDINATE",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Entity_ID": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-30T14:00:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}